# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [89]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [90]:
city_info_df = pd.read_csv("cities.csv")
city_info_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [99]:
g_key = 'AIzaSyBV20kcagcluB5rAmxrO0CsnXLjSoJuOZU'

#configure gmaps with API keys 
gmaps.configure(g_key)

#create variables for data to be displayed

#city coordinates
locations = city_info_df[["Lat", "Lng"]]
#humidities
humidity = city_info_df["Humidity"]

#customize the size of the figure

#figure_layout = {
#    'width': '900px',
#    'height': '450px',
#    'border': '1px solid black',
#    'padding': '1px',
#    'margin': '0 auto 0 auto'}

#define figure using above layout. zoom level set to 2 and centered at 0lat-0lon
fig = gmaps.figure()



#create heatmap layer, using lat/lon and humidity. 
heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius = 5)

#add heatmap layer to figure
fig.add_layer(heat_map)

#display figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [100]:
ideal_city_df = city_info_df.loc[(city_info_df["Wind Speed"]<= 10) & (city_info_df["Cloudiness"] <= 5) & 
                                (city_info_df["Max Temp"]>= 70) & (city_info_df["Max Temp"]<= 75)].dropna()

ideal_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

In [94]:
#create dataframe that contains only cities with "ideal conditions"
ideal_weather = city_file.loc[
    ((city_file["Max Temp"]) < 90) &
    ((city_file["Max Temp"]) > 60) &
    ((city_file["Wind Speed"]) < 15) &
    ((city_file["Cloudiness"]) == 0)]

len(ideal_weather)

20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [95]:
#create new data frame with only the relevant columns
hotel_df = ideal_weather.loc[:,["City","Lat","Lon"]]
#rename comlumns to work with supplied code
hotel_df = hotel_df.rename(columns={"Lon":"Lng"})
#display frame
hotel_df

            City      Lat       Lng
1      mahebourg -20.4081   57.7000
28       rikitea -23.1203 -134.9692
30       gobabis -22.4500   18.9667
88      cidreira -30.1811  -50.2056
93       antioch  36.2066   36.1572
126      margate  51.3813    1.3862
146     nardaran  40.5561   50.0056
167        yumen  40.2833   97.2000
197     coquimbo -29.9533  -71.3436
198   grand baie -20.0182   57.5802
201       luanda  -8.8368   13.2343
226  saint-denis  48.9167    2.3333
296        khash  28.2211   61.2158
311   balkanabat  39.5108   54.3671
329        mahon  39.8885    4.2658
371     carballo  43.2130   -8.6910
389     souillac -20.5167   57.5167
402      sambava -14.2667   50.1667
414        kalat  29.0225   66.5916
426       arroyo  41.6096   -4.7969

In [98]:
#query places api to return a hotel within 5000m of each city 

#base url


url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
params ={
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    lat = row.Lat
    lng = row.Lng
    params["location"] = f"{lat},{lng}"
    hotel_names = requests.get(url,params=params).json()
    try: 
        hotel_df.loc[index,"Hotel Name"] = response["results"][0]["name"]
    except(KeyError, IndexError):
        print("...missing field/results... skipping")
        
#define search parameters
#target_search = "hotel"
#target_radius = 5000
#target_type = "hotel"

#initialize list to house hotel names
#hotel_names = []

#loop through each city in the list, and find a nearby hotel
#for city in hotel_df["City"]:
#    #define coordinates for search based on city location
#    city_lat = hotel_df["Lat"].loc[hotel_df["City"]==city].iloc[0] 
#    city_lon = hotel_df["Lng"].loc[hotel_df["City"]==city].iloc[0] 
#    coords = f"{city_lat},{city_lon}"
    
    # set up a parameters dictionary
   # params = {"location": coords,
             # "keyword": target_search,
             # "radius": target_radius,
             # "type": target_type,
             # "key": g_key}
    
    # run a request using params dictionary (and json-ify the response)
   # response = requests.get(base_url, params=params).json()
    
    #create error handler to account for cases where no results are returned
#    try:
        #add hotel name to list
#        hotel_names.append(response["results"][0]["name"])
 #   except:
#        hotel_names.append("NO HOTELS FOUND")

#add hotel names to dataframe
#hotel_df["Hotel Name"] = hotel_names
#display frame
hotel_df

NameError: name 'response' is not defined

In [97]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [36]:
#info_box_template = """

#<dl>
#<dt>Name</dt><dd>{Hotel Name}</dd>
#<dt>City</dt><dd>{City}</dd>
#<dt>Country</dt><dd>{Country}</dd>
#</dl>
#"""
#row = pd.Series({'Hotel Name': 'Marriott', 'City': 'Dallas', 'Country': 'USA'})

#out = info_box_template.format(**row)

In [37]:
#create marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add marker layer ontop of heat map
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))