# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [131]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [132]:
city_info_df = pd.read_csv("cities.csv")
city_info_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [133]:
g_key = 'AIzaSyBV20kcagcluB5rAmxrO0CsnXLjSoJuOZU'

#configure gmaps with API keys 
gmaps.configure(api_key=g_key)

#create variables for data to be displayed

#city coordinates
locations = city_info_df[["Lat", "Lng"]]
#humidities
humidity = city_info_df["Humidity"]

#customize the size of the figure

#figure_layout = {
#    'width': '900px',
#    'height': '450px',
#    'border': '1px solid black',
#    'padding': '1px',
#    'margin': '0 auto 0 auto'}

#define figure using above layout. zoom level set to 2 and centered at 0lat-0lon
fig = gmaps.figure()



#create heatmap layer, using lat/lon and humidity. 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius = 5)

#add heatmap layer to figure
fig.add_layer(heat_layer)

#display figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [134]:
ideal_city_df = city_info_df.loc[(city_info_df["Wind Speed"]<= 10) & (city_info_df["Cloudiness"] <= 0) & 
                                (city_info_df["Max Temp"]>= 70) & (city_info_df["Max Temp"]<= 85)].dropna()

ideal_city_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
316,316,gunjur,0,GM,1558378848,61,13.18,-16.76,80.60,9.17
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05

In [135]:
#create dataframe that contains only cities with "ideal conditions"
#ideal_weather = city_file.loc[
 #   ((city_file["Max Temp"]) < 90) &
#    ((city_file["Max Temp"]) > 60) &
#    ((city_file["Wind Speed"]) < 15) &
#    ((city_file["Cloudiness"]) == 0)]

#len(ideal_weather)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [136]:
#create new data frame with only the relevant columns
hotel_df = ideal_city_df[["City","Country","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
#rename comlumns to work with supplied code
#hotel_df = hotel_df.rename(columns={"Lon":"Lng"})
#display frame
hotel_df

                City Country    Lat     Lng Hotel Name
70      ponta do sol      BR -20.63  -46.00
88          cidreira      BR -30.17  -50.22
125  arraial do cabo      BR -22.97  -42.02
138        morondava      MG -20.30   44.28
139            vaini      IN  15.34   74.49
176            nador      MA  35.17   -2.93
297            mogok      MM  22.92   96.51
316           gunjur      GM  13.18  -16.76
444          birjand      IR  32.86   59.22
518           bonito      BR -21.13  -56.49
527         tomatlan      MX  19.93 -105.25
543           yabrud      SY  33.97   36.66

In [140]:
#query places api to return a hotel within 5000m of each city 

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params ={
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    name_address = requests.get(base_url,params=params)
    
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
#define search parameters
#target_search = "hotel"
#target_radius = 5000
#target_type = "hotel"

#initialize list to house hotel names
#hotel_names = []

#loop through each city in the list, and find a nearby hotel
#for city in hotel_df["City"]:
#    #define coordinates for search based on city location
#    city_lat = hotel_df["Lat"].loc[hotel_df["City"]==city].iloc[0] 
#    city_lon = hotel_df["Lng"].loc[hotel_df["City"]==city].iloc[0] 
#    coords = f"{city_lat},{city_lon}"
    
    # set up a parameters dictionary
   # params = {"location": coords,
             # "keyword": target_search,
             # "radius": target_radius,
             # "type": target_type,
             # "key": g_key}
    
    # run a request using params dictionary (and json-ify the response)
   # response = requests.get(base_url, params=params).json()
    
    #create error handler to account for cases where no results are returned
#    try:
        #add hotel name to list
#        hotel_names.append(response["results"][0]["name"])
 #   except:
#        hotel_names.append("NO HOTELS FOUND")

#add hotel names to dataframe
#hotel_df["Hotel Name"] = hotel_names
#display frame
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

                City Country    Lat     Lng Hotel Name
70      ponta do sol      BR -20.63  -46.00
88          cidreira      BR -30.17  -50.22
125  arraial do cabo      BR -22.97  -42.02
138        morondava      MG -20.30   44.28
139            vaini      IN  15.34   74.49
176            nador      MA  35.17   -2.93
297            mogok      MM  22.92   96.51
316           gunjur      GM  13.18  -16.76
444          birjand      IR  32.86   59.22
518           bonito      BR -21.13  -56.49
527         tomatlan      MX  19.93 -105.25
543           yabrud      SY  33.97   36.66

In [141]:
#NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat","Lng"]]

In [142]:
#info_box_template = """

#<dl>
#<dt>Name</dt><dd>{Hotel Name}</dd>
#<dt>City</dt><dd>{City}</dd>
#<dt>Country</dt><dd>{Country}</dd>
#</dl>
#"""
#row = pd.Series({'Hotel Name': 'Marriott', 'City': 'Dallas', 'Country': 'USA'})

#out = info_box_template.format(**row)

In [143]:
#create marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add marker layer ontop of heat map
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))